<template>
  <require from="./stamps-list.css"></require>
  <require from="../../attributes/find-target"></require>
  <require from="../../elements/collapse-panel/collapse-panel"></require>

  <nav class="navbar navbar-default">
    <form class="navbar-form">
      <div class="btn-toolbar">

        <div class="btn-group" role="group">
          <!-- Create stamp -->
          <button type="button" class="btn btn-sm btn-default"
                  name="createStamp"
                  title="${'nav.new-stamp'|t}"
                  click.trigger="showEditor('create-stamp')">
            <span class="sw-icon-plus"></span>
          </button>
          <!-- Search criteria -->
          <button class="btn btn-sm btn-default"
                  name="searchPanel"
                  title="${'nav.search'|t}"
                  click.trigger="showEditor('search-panel')">
            <span class="sw-icon-search"></span>
          </button>
          <!-- Purchase selected stamps-->
          <button class="btn btn-sm btn-default ${selectedCount > 0 ? '' : 'disabled'}"
                  name="purchase"
                  title="${'actions.purchase'|t}"
                  click.delegate="purchase()">
            <span class="sw-icon-purchased"></span>
          </button>
        </div>

        <div class="btn-group" role="group">
          <!--Select all-->
          <button type="button" class="btn btn-sm btn-default"
                  name="selectAll"
                  title="${'nav.select-all'|t}"
                  click.trigger="selectAll(true)">
            <span class="sw-icon-select-all"></span>
          </button>
          <!--Deselect all-->
          <button type="button" class="btn btn-sm btn-default"
                  name="deselectAll"
                  title="${'nav.clear-all'|t}"
                  click.trigger="selectAll(false)">
            <span class="sw-icon-clear-all"></span>
          </button>
        </div>

        <!--Search field -->
        <div class="btn-group input-group quick-search hidden-xs hidden-sm">
          <input type="text" find-target
                 class="form-control"
                 name="searchField"
                 value.two-way="searchText"
                 placeholder="Search">
          <button class="btn btn-sm btn-default"
                  name="search"
                  title="Search"
                  click.delegate="sendSearch()">
            <span class="sw-icon-filter"></span>
          </button>
          <button class="btn btn-sm btn-default"
                  name="clearSearch"
                  title="Clear search"
                  click.delegate="clearSearch()">
            <span class="sw-icon-cancel"></span>
          </button>
        </div>

        <!-- Display modes -->
        <div class="btn-group" role="group">
          <button class="btn btn-sm btn-default ${  displayMode === DisplayMode.GRID ? 'active' : ''}"
                  name="grid"
                  title="${'actions.show-as-grid'|t}"
                  click.trigger="setDisplayMode('Grid')">
            <span class="sw-icon-gridview"></span>
          </button>
          <button class="btn btn-sm btn-default ${ displayMode === DisplayMode.LIST ? 'active' : ''}"
                  name="list"
                  title="${'actions.show-as-table'|t}"
                  click.trigger="setDisplayMode('List')">
            <span class="sw-icon-list"></span>
          </button>
          <button class="btn btn-sm btn-default ${ displayMode === DisplayMode.UPGRADE ? 'active' : ''}"
                  name="upgrade"
                  title="${'actions.show-as-upgrade'|t}"
                  click.trigger="setDisplayMode('Upgrade')">
            <span class="sw-icon-exchange"></span>
          </button>
        </div>

        <!--Show catalogue numbers-->
        <div class="btn-group" role="group">
          <button class="btn btn-sm btn-default ${ referenceTableState }"
                  name="showCatalogueNumbers"
                  disabled.bind="referenceTableState === 'disabled'"
                  title="${'actions.show-reference-cataloguenumbers'|t}"
                  click.delegate="toggleCatalogueNumbers()">
            <span class="sw-icon-references"></span>
          </button>
        </div>

        <!-- Sort actions -->
        <div class="btn-group sort-actions">
          <div class="dropdown">
            <!--Dropdown trigger-->
            <button type="button"
                    name="sort"
                    class="btn btn-default btn-sm dropdown-toggle sort-selector"
                    data-toggle="dropdown">
              <span class="selector-text">${'sort.' + options.sort | defaultValue:'placeholder'|t}</span>
              <span class="caret"></span>
            </button>
            <!-- Dropdown -->
            <ul class="dropdown-menu" role="menu">
              <li repeat.for="sortCol of sortColumns"
                  click.trigger="$parent.setSort(sortCol)">${'sort.' + sortCol|t}
              </li>
            </ul>
          </div>
          <!-- Clear sort -->
          <button class="btn btn-sm btn-default ${options.sort === 'placeholder' ? 'disabled' : ''}"
                  title="Clear sort"
                  name="clearSort"
                  click.trigger="clearSort()">
            <span class="sw-icon-cancel"></span>
          </button>
          <!-- Change sort direction -->
          <button class="btn btn-sm btn-default ${options.sort === 'placeholder' ? 'disabled' : ''}"
                  name="toggleSortDirection"
                  click.trigger="toggleSortDirection()">
            <span class="${options.sortDirection === 'asc' ? 'sw-icon-sort-up' : 'sw-icon-sort-down'}"></span>
          </button>
        </div>

        <!--Stamp filter -->
        <!--<div class="dropdown hidden-xs hidden-sm">-->
          <!--&lt;!&ndash;Stamp filter button&ndash;&gt;-->
          <!--<button type="button"-->
                  <!--name="stampFilter"-->
                  <!--class="btn btn-default btn-sm dropdown-toggle"-->
                  <!--data-toggle="dropdown"-->
                  <!--aria-expanded="false">-->
            <!--<span class="selector-text">${getFilterText(stampFilter)|t | defaultValue:'filters.filter'|t}</span>-->
            <!--<span class="caret"></span>-->
          <!--</button>-->
          <!--&lt;!&ndash; Stamp filter dropdown &ndash;&gt;-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li repeat.for="filter of filters"-->
                <!--click.trigger="$parent.setFilter($index)">-->
              <!--${$parent.getFilterText(filter)|t}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->

        <!--<div class="dropdown hidden-xs hidden-sm">-->
          <!--<button type="button"-->
                  <!--class="btn btn-default btn-sm dropdown-toggle"-->
                  <!--data-toggle="dropdown"-->
                  <!--aria-expanded="false">-->
            <!--<span class="selector-text">${getFilterText(conditionFilter)|t |-->
              <!--defaultValue:'conditionFilters.ALL_STAMPS'|t}</span>-->
            <!--<span class="caret"></span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li repeat.for="filter of conditionFilters"-->
                <!--click.trigger="$parent.setConditionFilter($index)">-->
              <!--${$parent.getFilterText(filter)|t}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="dropdown hidden-xs hidden-sm">-->
          <!--<button type="button"-->
                  <!--class="btn btn-default btn-sm dropdown-toggle result-size-selector"-->
                  <!--data-toggle="dropdown">-->
            <!--<span class="selector-text">${options.$top | defaultValue:'actions.page-size'|t}</span>-->
            <!--<span class="caret"></span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li repeat.for="size of pageSizes"-->
                <!--click.delegate="$parent.setSize(size)">${size}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </form>
  </nav>

  <div class="container-fluid stamp-content">
    <div class="row">
      <div class="col-md-12 col-lg-4 sw-editor-container" if.bind="editorShown">
        <collapse-panel collapsed.bind="!editorShown" name="stamp-list-editor-panel">
Test
        </collapse-panel>
      </div>
    </div>
  </div>
</template>
