<template>
  <require from="./stamps-list.css"></require>

  <nav class="navbar navbar-default">
    <form class="navbar-form">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-default"
                  >
            <span class="sw-icon-plus"></span>
          </button>
          <button class="btn btn-sm btn-default">
            <span class="sw-icon-search"></span>
          </button>
          <button class="btn btn-sm btn-default"
                  >
            <span class="sw-icon-purchased"></span>
          </button>
        </div>
      </div>
    </form>
  </nav>
</template>
